// Required

//global variables
$coding-green-color: rgb(3 199 181);
$coding-color: deeppink;
$coding-green-color-hover: rgb(5 225 205);
$coding-green-color-hover-transparent: rgba(5, 225, 205,0.2);
$coding-color-hover: rgb(255 102 185);

$background-color: rgb(30, 39, 44);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//override bootstrap variables
$body-bg: $background-color;
$body-color: $coding-green-color;

$success: rgb(10 199 3);



