@import 'globals.variables';

@import "../node_modules/bootstrap/scss/bootstrap";

@import 'globals.buttons';


@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url('/sass-assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}
//General Styling
@font-face {
  font-family: 'IBMPlexMono';
  src: local('IBMPlexMono'), url('/sass-assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: IBMPlexMono, serif !important;
}

#app {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

hr {
  color: $coding-green-color;
}

a,.btn-link {
  color: $coding-green-color;
  box-shadow: none !important;

  &:hover {
    color: $coding-green-color-hover;
  }
  &:not(.btn){
    text-decoration: none;
  }
}
.h-0{
  height:0 !important;
}

.opacity-0{
  opacity: 0 !important;
  pointer-events: none;
}
.opacity-1{
  opacity: 1 !important;
}

.navbar{
  background-color: transparent;
  transition:0.3s;
  &.has-scrolled{
    background-color:rgba(var(--bs-dark-rgb));
  }
  
  box-shadow: none;
  .navbar-toggler{
    border-color: $coding-green-color;
  }
  .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%283, 199, 181, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }
}

.code{
  color:deeppink;
  opacity: 1;
}

//custom borders
.border-dashed {
  border-style: dashed;
}
.border-code-green {
  border: 1px solid $coding-green-color;
}
.border-code-red {
  border: 1px solid $coding-red-color;
}

.border-radius-1{
  border-radius: 0.5rem;
}

//custom bg

.bg-code-green {
  background-color: $coding-green-color;
  color: $background-color;
}

.bg-code-red {
  background-color: $coding-red-color;
  color: $background-color;
}

@import "./home/home";
@import "./resume/resume";
@import "./portfolio/portfolio";
@import "./develop/develop";
@import "./build/build";
@import "./create/create";
