@import 'globals.variables';
@import '../node_modules/bootstrap/scss/buttons';


.btn-success:hover, .btn-success:focus{
  background-color: rgb(98 227 93);
  border-color: rgb(98 227 93);
}







//custom buttons
.btn-code-green {
  @extend .btn-success;
  background-color: $coding-green-color;
  color: $background-color;
  border-color: $coding-green-color;
  
  &:focus{
    background-color: $coding-green-color-hover;
    color: $background-color;

  }

  &:hover {
    background-color: $coding-green-color-hover;
    color: $background-color;
  }
}

.btn-outline-code-green {
  @extend .btn-outline-success;
  border-color: $coding-green-color;
  color: $coding-green-color;
  background-color: transparent;

  &:hover {
    border-color: $coding-green-color;
    background-color: $coding-green-color;
    
    color: $background-color !important;
  }
}

//custom buttons
.btn-code{
  @extend .btn-dark;
  background-color: $coding-color;
  color: $background-color;
  border-color: $coding-color;

  &:focus{
    background-color: $coding-color-hover;
    color: $background-color;

  }

  &:hover {
    background-color: $coding-color-hover;
    color: $background-color;
  }
}

.btn-outline-code {
  @extend .btn-outline-success;
  border-color: $coding-color;
  color: $coding-color;
  background-color: transparent;

  &:hover {
    background-color: $coding-color;
    color: $background-color !important;
  }
}
